{% extends '_base_game.html' %}

{% block title %}
    Game Pin
{% endblock %}

{% block content %}

    <h1>Waiting Room - PIN: {{ game.pin_code }}</h1>
    <h2>Players:</h2>
    <ul>
        {% for player in players %}
            <li>{{ player.nickname }}
                <button onclick="removePlayer({{ player.id }})">Remove</button>
            </li>
        {% endfor %}
    </ul>

    <h2>Join Game</h2>
    <form method="POST" id="joinForm">
        {% csrf_token %}
        <input type="text" name="nickname" placeholder="Enter your nickname">
        <button type="submit" name="action" value="join">Join</button>
    </form>

    <button onclick="startGame()">Start Game</button>

    <script>
        function removePlayer(playerId) {
            fetch(window.location.href, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body: JSON.stringify({action: 'remove', player_id: playerId})
            }).then(response => response.json()).then(data => {
                alert(data.message || 'Player removed');
                location.reload();
            });
        }



        // Start Game
        function startGame() {
            let categoryId = localStorage.getItem('categoryId');
            console.log('Category ID:', categoryId);

            fetch(`/start/{{ game.pin_code }}/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body:{
                    categoryId: categoryId,
                }
            }).then(response => {
                if (response.redirected) {
                    window.location.href = response.url; // Redirect to the game started page

                } else {
                    return response.json();
                }
            }).then(data => {
                if (data && data.error) {
                    alert(data.error);
                }
            });
        }

    </script>




{% endblock %}